<!--
displays game data
-->
<ion-view view-title="Game Lobby">
  <ion-content class="padding">
    <h2>Name: {{game.name}}</h2>
    <p>motto: {{game.motto}}</p>
    <p>player count: {{ players.length }}</p>
    <button ng-click="joinGame()" class="button button-block button-balanced">Join Game</button>
    <h2>Player List</h2>
    <ion-list ng>
      <ion-item ng-repeat="player in players" href="#tab/play/profile/{{player.id}}">
        {{ player.nickname }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
