<ion-view ng-controller="LoginCtrl as login" view-title="Login">
  <ion-content class="padding" scroll="false">

    <button ng-click="facebookLogin()" class="button button-block button-balanced">Facebook Log In</button>
    <button ng-click="testAuthToken()" class="button button-block button-error">Test Auth Token</button>
    <button ng-click="testGet()" class="button button-block button-error">Test if we can get phrases</button>
    <button ng-click="logout()" class="button button-block button-error">Log Out</button>

    
    <button ng-click="socialSignIn()" class="button button-block button-error">socialSignIn</button>


    

    <div class="card">
        <div class="item item-divider">
            Status
        </div>
        <div class="item item-text-wrap">
            {{ access_token }}
        </div>
        <div class="item item-text-wrap">
            {{ status }}
        </div>
    </div>

  </ion-content>
</ion-view>
